
.first{
    background-image: url(imag/danielle-macinnes-logv9s7f67o-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.second{
    background-image: url(imag/pizza4.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.fourth{
    background-image: url(imag/nrd-1ZOZyhfSvfs-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}